<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dBColumn">
            <h2><span>DB Column</span> {{ dBColumn.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Column Name</span></dt>
                <dd>
                    <span>{{ dBColumn.columnName }}</span>
                </dd>
                <dt><span>Table</span></dt>
                <dd>
                    <div *ngIf="dBColumn.table">
                        <a [routerLink]="['/db-table', dBColumn.table?.id, 'view']">{{ dBColumn.table?.tableName }}</a>
                    </div>
                </dd>
                <dt><span>Concern</span></dt>
                <dd>
                    <span *ngFor="let concern of dBColumn.concerns; let last = last">
                        <a [routerLink]="['/concern', concern?.id, 'view']">{{ concern.concernDescription }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/db-column', dBColumn.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
